* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;

}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,rgb(29, 29, 73),purple
    ,pink);
    padding: 10%;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    padding: 40px 30px 70px;
    margin: 50px auto 20px;
    border-radius: 15px;
 }

 .todo-app h2 {
    color: rgb(50, 50, 50);
    display:flex ;
    align-items: center;
    margin-bottom: 20px;
 }

 .row {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 0px;
    background: #d2d2d2;
    border-radius: 30px;
    padding-left: 15px;
    margin-bottom: 25px;
 }

 #time {
    width: 110px;
    padding: 4px 6px;
    flex: 0 0 auto;
 }



 input {
    flex: 1;
    border: 0;
    outline: 0;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
 }

 button {
    border-radius: 50%;
    display: flex;
    border: transparent;
    cursor: pointer;
    transition: transform 0.15s ease, box-shadow 0.15 ease;
 }

 button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
 }

 .tambah {
    object-fit: cover;
 }

 ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
    cursor: pointer;
 }

 ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(unchecklist.png);
    background-size: cover;
    background-position: center;
    top: 13px;
    left: 20px;
 }

 ul li.checked {
    color: #555;
    text-decoration: line-through;
 }

 ul li.checked::before {
    background-image: url(centang.png);
 }

 ul li span {
    position: absolute;
    right: 0%;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
 }

 ul li span:hover {
    color: #edeef0;
 }

 .task-info {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    text-align: center;
}